@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans&display=swap');
@font-face {
  font-family: myFont;
  src: url(lemonlight.otf);  
}
@font-face {
    font-family: daFont;
    src: url(lemonreg.otf);
}

@keyframes animate {
    from {background-color: black;}
    to {background-color: green;}
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.website-logo {
    margin-left: 20px;
    height: 40px;
}

.socmed-links {
    width: 150px;
    height: 100%;
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul li {
    padding: 20px 50px;
    position: relative;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    font-family: daFont;
}

.navigation ul li a:hover {
    color: #28B873;
    
}

.dropdown_menu {
    display: none;
    color: black;
}

.fa-sharp {
    margin-left: 7px;
}

.navigation ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    cursor: pointer; 
    background-color:black;
    animation-name: animate;
    animation-duration: 1s;
}

.dropdown_menu ul {
    display: block;
    margin: 10px;
}

.dropdown_menu ul li {
    font-family: daFont;
    width: 150px;
    padding:5px;
    color: white;
}

i {
    color: black;
}

i:hover {
    color: green;
}

.nav-link:hover {
    color: green;
}

.hero-banner {
    background-image:linear-gradient(to bottom right, #f2d0fa, white);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner-heading {
    font-family: myFont;
    font-size: 96px;
    color: #067937;
}

.main-recipe-content {
    background-image: linear-gradient(to bottom right, #9efacf, white,white );
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;  
}

.recipe-list {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recipe-container {
    background-color: white;
    width: 40%;
    margin-top: 5px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-label {
    font-family: daFont;
    background-color: #28B873;
    position: absolute;
    padding: 3px;
}

.recipe-image {
    width: 100%;
    height: 90%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

.recipe-image:hover {
    transform:scale(1.3);
    z-index: 2;
}

.recipe-title {
    margin-top: 15px;
    font-family: myFont;
}

.recipe-description {
    margin-top: 15px;
    font-family: 'Verdana', sans-serif;
}

.recipe-other-info {
    margin-top: 15px;
    font-size: .7rem;
    font-family: myFont;
}

.recipe-filter {
    width: 20vw;
}

.recipe-filter-heading {
    font-family: daFont;
}

.recipe-filter-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    border: solid 1px #E2E3E3;
    padding: 20px;
}

.search-text-input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

.search-recipe-icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 15vw;
    margin-top: 17px;
}    

.courses-checkboxes {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
    accent-color: black;
}

.course-checkbox-item {
    padding: 15px 5px;
}

.sub-banner {
    background-image: linear-gradient(to bottom right,white,white, white, #56f5ab);
    padding: 20px 12vw;
}

.food-review-banner:hover .flex-and-align {
    align-self: flex-start;
}


.food-review-banner {
    font-family:myFont;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    color: #088d4d;
}

.flex-and-align {
    align-self: flex-end;
}

.qoute-and-contact {
    display: flex;
    justify-content: space-between;
}

.qoute {
    font-family: 'Verdana', sans-serif;
    width: 40vw;
}

.contact-link {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: black;
}

.contact-link:hover {
    color: violet;
}

footer {
    background-image:linear-gradient(to bottom right, #f2d0fa, white);
    padding: 10px 12vw;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.links-and-copyright {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    font-family: 'Verdana', sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: bold;
    width: 100%;
}

.socmed {
    width: 150px;
    height: 100%;
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
}

.footer-links li a:hover {
    color: #28B873;
} 

.para {
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.footer-links > li > a {
    text-decoration: none;
    color: black;
}